{% extends "base.html" %}
{% block title %}Contact{% endblock %}

{% block content %}
    <div id= "pagecontent">
        telephone: 0777 777 777<br>
        email: email@email.com yes
        telephone: 0777 777 777<br>
        email: email@email.com yes
        telephone: 0777 777 777<br>
        email: email@email.com yes
        telephone: 0777 777 777<br>
        email: email@email.com yes
        telephone: 0777 777 777<br>
        email: email@email.com yes
        telephone: 0777 777 777<br>
        email: email@email.com yes
        telephone: 0777 777 777<br>
        email: email@email.com yes
        telephone: 0777 777 777<br>
        email: email@email.com yes
        telephone: 0777 777 777<br>
        email: email@email.com yes
        telephone: 0777 777 777<br>
        email: email@email.com yes
        telephone: 0777 777 777<br>
        email: email@email.com yes
        telephone: 0777 777 777<br>
        email: email@email.com yes
        telephone: 0777 777 777<br>
        email: email@email.com yes
        telephone: 0777 777 777<br>
        email: email@email.com yes
        telephone: 0777 777 777<br>
        email: email@email.com yes
        telephone: 0777 777 777<br>
        email: email@email.com yes
        telephone: 0777 777 777<br>
        email: email@email.com yes
        telephone: 0777 777 777<br>
        email: email@email.com yes
        telephone: 0777 777 777<br>
        email: email@email.com yes
        telephone: 0777 777 777<br>
        email: email@email.com yes
        telephone: 0777 777 777<br>
        email: email@email.com yes
        telephone: 0777 777 777<br>
        email: email@email.com yes
        telephone: 0777 777 777<br>
        email: email@email.com yes
        telephone: 0777 777 777<br>
        email: email@email.com yes
        telephone: 0777 777 777<br>
        email: email@email.com yes
        telephone: 0777 777 777<br>
        email: email@email.com yes
        telephone: 0777 777 777<br>
        email: email@email.com yes
        telephone: 0777 777 777<br>
        email: email@email.com yes
        telephone: 0777 777 777<br>
        email: email@email.com yes
        telephone: 0777 777 777<br>
        email: email@email.com yes
        telephone: 0777 777 777<br>
        email: email@email.com yes
        telephone: 0777 777 777<br>
        email: email@email.com yes
        telephone: 0777 777 777<br>
        email: email@email.com yes
        telephone: 0777 777 777<br>
        email: email@email.com yes
        telephone: 0777 777 777<br>
        email: email@email.com yes
        telephone: 0777 777 777<br>
        email: email@email.com yes
    </div>
{% endblock %}