{% extends "base.html" %}
{% block title %}Menu{% endblock %}

{% block content %}
    <table id="foodmenu">
        {% if latest_product_list %}
            {% for product in latest_product_list %}
                <tr>
                    <td><a href="{% url 'pizza:menu' %}{{ product.link_str }}/">{{ product.product_name }}</a></td>
                    <td>{{ product.product_desc }}</td>
                    <td><button>add to order</button></td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>No products are available.</td>
            <tr>
        {% endif %}
    </table>
{% endblock %}