{% extends "base.html" %}
{% block title %}Menu{% endblock %}

{% block content %}
    <table id="foodmenu">
        {% if latest_product_list %}
            {% for product in latest_product_list %}
                <tr>
                    <td><a href="{% url 'pizza:menu' %}{{ product.link_str }}/">{{ product.product_name }}</a></td>
                    <td>{{ product.product_desc }}</td>
                    <td>
                        <div class="pricelabel">
                                ${{ product.price }} <br>
                        </div>
                    </td>
                    <td>
                        <form action="{% url 'pizza:addchoice' product.link_str %}" method="post">
                            {% csrf_token %}
                            <input class="addtoorder" type="submit" value="Add to order" />
                        </form>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>No products are available.</td>
            <tr>
        {% endif %}
    </table>
{% endblock %}