{% extends "base.html" %}

{% block content %}
    <div id= "pagecontent">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
    </div>
    <table id="foodmenu">
        {% if latest_product_list %}
            {% for product in latest_product_list %}
                <tr>
                    <td><a href="{% url 'menu' %}{{ product.link_str }}/">{{ product.question_text }}</a></td>
                    <td>{{ product.question_desc }}</td>
                    <td><button>add to order</button></td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>No products are available.</td>
            <tr>
        {% endif %}
    </table>
{% endblock %}