/* * { */
	/* opacity: 0.8; */
	/* outline: 1px solid rgba(100, 100, 100, 0.8); */
/* } */
:root {
	--primary-color: rgb(250, 255, 213);
	--secondary-color: #ffc1b2;
	--text-color: black;
    --header-text-color: white;
    --button-color: red;
    --button-text-color: white;
}

body {
	margin: 0;
	background-color: var(--primary-color);
	font-family: sans-serif;
}

#main {
	position: relative;
	padding: 10px;
	background-color: var(--secondary-color);
	margin: 0 10%;
	height: 100%;
}

#header {
	color: white;
	font-family: Impact, sans-serif;
	font-size: 40px;
	text-align: center;
	line-height: 5;
	text-shadow: 0 0 6px black, 0 0 6px black, 0 0 6px black;
	position: relative;
	overflow: hidden;
	height: 200px;
    background: url("pizza-1.jpg") center;
    background-size: cover;
	box-shadow: 0 4px 4px rgba(0,0,0,0.5);
}

#navmenu {
	background-color: var(--primary-color);
	clear: right;
	list-style-type: none;
	padding: 0;
	font-family: sans-serif;
}

#navmenu a{
	color: var(--text-color);
	text-decoration: none;
	background-color: var(--primary-color);
	float: left;;
	padding: 5px;
	transition: box-shadow .2s;
	box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
}

#navmenu > li:last-child > a{
	border-radius: 0 4px 4px 0;
}

#navmenu a:hover{
	box-shadow: inset 0 -2px 2px 0 rgba(0,0,0,0.8), inset 0 2px 2px 0 rgba(255,255,255,1);
}

#navmenu a:active{
	box-shadow: inset 0 2px 2px 0 rgba(0,0,0,0.5), inset 0 -2px 2px 0 rgba(255,255,255,1);
}

#pagecontent {
	clear: both;
	background: var(--primary-color);
    margin: 70px 40px 70px 40px;
    padding: 20px;
}

#foodmenu {
	background-color: var(--primary-color);
	clear: left;
	margin-left: 20px;
	margin-top: 80px;
	border-radius: 4px;
	box-shadow: 1px 1px 4px rgba(0,0,0,1);
}

.addtoorder{
	border: 0;
	color: var(--button-text-color);
	text-decoration: none;
	background-color: var(--button-color);
	padding: 5px;
	border-radius: 4px;
	transition: box-shadow 5s;
	box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.5);
}

.addtoorder:active{
	outline: 0;
	box-shadow: inset 2px 2px 3px 0 rgba(0,0,0,0.5);
}

.addtoorder:focus{
	outline: 0;
	box-shadow: inset 2px 2px 3px 0 rgba(0,0,0,0.5);
}

#footer {
	position:relative;
	margin-top: 70px;
    bottom:0px;
	background-color: var(--primary-color);
	padding: 20px;
	clear: both;
	width: 300px;
	border-radius: 0 4px 4px 0;
	box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
}

.pizza_heading {
	clear: both;
	padding-top: 40px;
}

.pizza_desc {
	background: var(--primary-color);
}