/* * { */
/* opacity: 0.8; */
/* outline: 1px solid rgba(100, 100, 100, 0.8); */
/* } */
:root {
    --primary-color: rgb(245, 245, 245);
    --secondary-color: rgb(240, 100, 80);
    --text-color: black;
    --header-text-color: white;
    --button-color: #ff8ca3;
    --button-color2: hsl(351, 100%, 57%);
    --button-text-color: white;
    --main-lateral-margin: 10%;
    --main-width: calc(100% - 2 * var(--main-lateral-margin));
    --main-top: 200px;
}

body {
    margin: 0;
    background-color: var(--primary-color);
    font-family: sans-serif;
}

#main {
    position: absolute;
    background-color: var(--secondary-color);
    margin: 0 var(--main-lateral-margin);
    width: var(--main-width);
    top: var(--main-top);
    min-height: calc(100% - var(--main-top));
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}

#header {
    position: absolute;
    height: 50%;
    width: 100%;
    background: url("pizza-1.jpg") center;
    background-size: cover;
    box-shadow: -10px 0px black, 10px 0px black; /* otherwise there's' some white space there*/
}

#headertext {
    color: white;
    font-family: Impact, sans-serif;
    font-size: 60px;
    text-align: center;
    line-height: calc(var(--main-top));
    text-shadow: 0 0 6px black, 0 0 6px black, 0 0 6px black;
}

#thefour {
    display: inline-block;
    transform: scale(1.5, 1.5) rotate(10deg);
}

#navbar{
    z-index: 0;
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    border: 0 solid transparent;
    border-bottom-width: 2px;
    background-color: var(--primary-color);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);

}

#navmenu {
    margin: 0px;
    list-style-type: none;
    padding-left: 0;
}

#navmenu li {
    height: 100%;
    float: left;
}

.pagelink {
    background-color: var(--primary-color);
    color: var(--text-color);
    text-decoration: none;
    float: left;
    height: 100%;
    transition: filter .2s;
    line-height: 50px;
    padding: 0 10px;
    border: 1px solid grey;
    border-image: linear-gradient(to bottom, transparent, gray, transparent) 1 100%;
    border-left-width: 0;
}

.pagelink:not(div):hover { /*only on links*/
    filter: brightness(110%);
}

.pagelink:active {
    filter: brightness(90%);
}

#usermenu {
    margin: 0;
    list-style-type: none;
}
#navmenu li {
    height: 100%;
    float: left;
}

#usermenu a {
    background-color: var(--primary-color);
    color: var(--text-color);
    text-decoration: none;
    float: right;
    height: 100%;
    transition: filter .2s;
    line-height: 50px;
    padding: 0 10px;
    border: 1px solid grey;
    border-image: linear-gradient(to bottom, transparent, gray, transparent) 1 100%;
    border-right-width: 0;
}

#usermenu a:hover {
    filter: brightness(110%);
}

#usermenu a:active {
    filter: brightness(90%);
}

div.pagelink{
    float:right;
    border: 1px solid grey;
    border-image: linear-gradient(to bottom, transparent, gray, transparent) 1 100%;
    border-right-width: 0;
}

#user_area {
    list-style-type: none;
    font-family: sans-serif;
    background: var(--primary-color);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

#user_area * {
    margin: 10px 5px;
}

#pagecontent {
    clear: both;
    background: var(--primary-color);
    margin: 70px 40px 70px 40px;
    padding: 20px;
    border-radius: 4px;
}

#foodmenu {
    clear: both;
    background: var(--primary-color);
    margin: 70px 40px 70px 40px;
    padding: 20px;
    border-radius: 4px;
}

#foodmenu td {
    padding-left: 40px;
}

.pricelabel {
    background: rgb(206, 83, 68);
    color: white;
    border-radius: 3px;
    padding: 4px;
}

.addtoorder {
    border: 0;
    color: var(--button-text-color);
    text-decoration: none;
    background: linear-gradient(var(--button-color), var(--button-color2));
    padding: 5px;
    border-radius: 4px;
}

.addtoorder:hover {
    filter: brightness(110%);
}

.addtoorder:active {
    outline: 0;
    filter: brightness(90%);
}

#footer {
    position: absolute;
    bottom: 0;
    background-color: var(--primary-color);
    padding: 20px;
    clear: both;
    width: calc(100% - 40px);
}

.pizza_heading {
    clear: both;
    padding-top: 40px;
}

.pizza_desc {
    background: var(--primary-color);
}

@media screen and (min-width: 40em) {
    @supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) {
        .parallax {
            height: 100vh;
            overflow-x: hidden;
            overflow-y: auto;
            -webkit-perspective: 1px;
            perspective: 1px;
        }

        .parallax__layer {
            position: absolute;
            left: 0;
            right: 0;
        }

        .parallax__layer--base {
            margin-top: -50%;
            transform: translateZ(0px);
        }

        .parallax__layer--back {
            //margin-left: -20px; /*this line is a hack*/
            transform: translateZ(-1px) scale(2);
        }

        #headercontainer {
            height: 100%;
        }
    }
}

.amountinput {
    width: 40px;
}